.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container h2 {
  padding: 0.5rem;
  font-weight: 900;
  border-bottom: solid #211103 2px;
}

.category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
