.delete button {
  margin-left: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  color: #f9f8f8;
  background-color: #a44a3f;
  box-shadow: 2px 2px 2px #888888;
}

.delete button:active {
  background-color: #bf1a2f;
  box-shadow: none;
}
