.container {
    display: flex;
    flex-direction: column;
    margin: 1.45rem;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.45rem;
}
.logo {
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: #F9F8F8;
    box-shadow: 2px 2px 2px #888888;
    padding: 1.45rem;
    margin-right: 2rem;
}

.title h1 {
    font-size: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.45rem;
}
.info p {
    margin: .2rem;
}

.gallery {
    display: flex;
    justify-content: space-between; 
}

.gallery img {
    max-width: 25vw;
    padding: 1.45rem;
    color: #211103;
    background-color: #F9F8F8;
    box-shadow: 2px 2px 2px #888888;
}

.edit {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}