.section {
    width: 15rem;
    margin: 0 auto;
  }
  
  .section input {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 3px;
    height: 1.7rem;
    background-color: aliceblue;
  }
  
  .section button {
    width: 100%;
    height: 2.5rem;
    background-color: brown;
    border-radius: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .section button:disabled {
    background-color: grey;
  }
  
  .section p {
    color: red;
    font-weight: 700;
    text-align: center;
  }
  