.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.5rem;
  color: #211103;
  background-color: #f6f4d2;
  box-shadow: 2px 2px 2px #888888;
  align-items: flex-start;
  margin: 0.5rem;
}
