.options {
  width: 100%;
  margin-bottom: 1rem;
}

.title button {
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.4rem 0.55rem;
  border: none;
  color: #f9f8f8;
  background-color: #5cab7d;
  box-shadow: 2px 2px 2px #888888;
  outline: none;
}

.title button:focus {
  outline: none;
}

.title button:active {
  background-color: green;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: center;
}
.title h3 {
  margin-right: 2rem;
}

.title button {
  height: 50%;
}

.category {
  display: flex;
}

.category button {
  height: 50%;
  margin: 0.35rem;
}

.field {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  margin-right: 0.5rem;
  justify-content: center;
}

.field label {
  margin-bottom: 0.25rem;
}

.optrender {
  padding: 0.5rem;
}

.container {
  margin-bottom: 0.75rem;
  border-radius: 10px;
  border: solid #888888 2px;
}

.arrow {
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  color: #f9f8f8;
  background-color: #63adf2;
  box-shadow: 2px 2px 2px #888888;
}

.arrow:active {
  background-color: blue;
  box-shadow: none;
  outline: none;
  border: none;
}

.delete {
  margin-left: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  color: #f9f8f8;
  background-color: #a44a3f;
  box-shadow: 2px 2px 2px #888888;
}

.delete:active {
  background-color: #bf1a2f;
  box-shadow: none;
}

.add {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  color: #f9f8f8;
  background-color: #5cab7d;
  box-shadow: 2px 2px 2px #888888;
  outline: none;
}

.add:focus {
  outline: none;
}

.add:active {
  background-color: green;
  box-shadow: none;
}
