.container {
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: #211103;
    background-color: #F6F4D2;
    box-shadow: 2px 2px 2px #888888;
    align-items: flex-start;
    margin: .5rem;
}

.container input {
    /* width: 100%; */
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 3px;
    height: 1.7rem;
    background-color: #F9F8F8;
    color: #211103;
  }

.container h3 {
    font-size: 1.5rem;
}

.day {
    border: solid #888888 2px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;  
}

.del {
    margin: .25rem;
    width: 2rem;
    height: 2rem;
    background-color: #DD7373;
    border: none;
    color: #F9F8F8;
    font-weight: 900;
    border-radius: 50%;
    font-size: 1rem;
    box-shadow: 2px 2px 2px #888888;
}

.del:active {
    background-color: #BF1A2F;
    box-shadow: none;
}

.day input {
    margin-right: 1rem;
}

.day label {
    margin-right: .25rem;
    margin-left: 1rem;
}

.add {
    border: none;
    color: #F9F8F8;
    font-weight: 900;
    border-radius: 50%;
    font-size: 1rem;
    box-shadow: 2px 2px 2px #888888;
    margin: .25rem;
    width: 2rem;
    height: 2rem;
    background-color: #5CAB7D;
}

.add:active {
    background-color: green;
    box-shadow: none;
}

.btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.btns button {
    margin-left: 1rem;
    border-radius: 10%;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    color: #F9F8F8;
    background-color: #5CAB7D;
    box-shadow: 2px 2px 2px #888888;
}

.btns button:active {
    background-color: green;
    box-shadow: none;
}

.container button:focus {
    outline: 0;
}

.blockcont {
    display: flex;
    flex-direction: column;
  }

.blockcont label {
    margin-right: .25rem;
  }
  
.blockcont input {
    margin-right: 1rem;
}  
  

.hourflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

