.container {
    display: flex;
    width: 100vw;
    max-height: 8vh;
    justify-content: space-between;
    background-color: #F8E16C;
    color: #211103;
    box-shadow: 3px 3px 3px #888888;
    overflow: visible;
} 

.title {
    display: flex;
    align-items: center;
    margin-left: 1.45rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.title h2 {
    margin-left: 3rem;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: inherit;
    border-radius: 2rem;
    padding: 1rem;
    margin-right:1rem;
    border: solid #211103 2px;
}

.nav a:hover{
    color: #F9F8F8;
    background-color: #211103;
}

.nav a:active{
    color: #F9F8F8;
    background-color: #6B717E;
}
