.container {
    display: flex;
    flex-direction: column;
}

.container hr {
    width: 100vw;
    border-top: solid #888888 2px;
}

.header {
    margin: 1.45rem;
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

.header button {
    margin-left: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    color: #F9F8F8;
    background-color: #5CAB7D;
    box-shadow: 2px 2px 2px #888888;
}

.header button:active {
    background-color: green;
    box-shadow: none;
}

.header button:focus {
    outline: 0;
}

.form {
    display: flex;
    justify-content: center;
}