.container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: #F8E16C;
    color: #211103;
    height: 2.5rem;
}