.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.25rem;
  color: #211103;
  background-color: #f9f8f8;
  box-shadow: 2px 2px 2px #b7990d;
  border-radius: 5px;
  align-items: flex-start;
  margin: 0.5rem;
}

.container label {
  margin-bottom: 0.25rem;
}

.container input,
textarea,
select {
  margin-bottom: 1rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  margin-left: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  color: #f9f8f8;
  background-color: #5cab7d;
  box-shadow: 2px 2px 2px #888888;
}

.buttons button:disabled {
  background-color: #888888;
  box-shadow: none;
}

.buttons button:focus {
  outline: 0;
}

.buttons button:active {
  background-color: green;
  box-shadow: none;
}

.buttons button:nth-child(2) {
  margin-left: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  color: #f9f8f8;
  background-color: #a44a3f;
  box-shadow: 2px 2px 2px #888888;
}

.buttons button:nth-child(2):active {
  background-color: #bf1a2f;
  box-shadow: none;
}
