.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    max-height: 30%;
    color: #211103;
    background-color: #F9F8F8;
    box-shadow: 2px 2px 2px #888888;
    margin-bottom: 1rem;
}

.container label {
    margin-bottom: .25rem;
}

.container input, textarea, select {
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons button {
    margin-left: 1rem;
}